@page
@model CourseProject.Pages.Admin.IndexModel
@{
}

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" asp-page="/Admin/SmartPhones/Index">Смартфоны</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/Admin/CellPhones/Index">Сотовые телефоны</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/Admin/Brands/Index">Бренды</a>
    </li>
</ul>