@page "/Admin/CellPhones/{id:int}"
@model CourseProject.Pages.Admin.CellPhones.EditModel
@{
}

    <a asp-page="/Admin/CellPhones/Index">Назад</a>
    <form enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row row-cols-2">
        <div class="col">
            <div>
                <span hidden asp-validation-for="CellPhone.PhoneId" class="text-danger"></span>
                <label hidden asp-for="CellPhone.PhoneId">PhoneId</label>
                <input hidden type="text" id="" asp-for="CellPhone.PhoneId" class="form-control" required />
            </div>
            <div>
                <span asp-validation-for="CellPhone.Name" class="text-danger"></span>
                <label asp-for="CellPhone.Name">Название</label>
                <input type="text" id="" asp-for="CellPhone.Name" class="form-control" required />
            </div>
            <div>
                <label asp-for="CellPhone.BrandId">Бренд</label>
                <select id="" asp-for="CellPhone.BrandId" class="form-control" required>
                    @if (Model.Brands != null)
                    {
                        @foreach (var brand in Model.Brands)
                        {
                            <option value="@brand.BrandId">@brand.Name</option>
                        }
                    }
                </select>
            </div>
            <div>
                <span asp-validation-for="CellPhone.Color" class="text-danger"></span>
                <label asp-for="CellPhone.Color">Цвет</label>
                <input type="text" id="" asp-for="CellPhone.Color" class="form-control" required />
            </div>
            <div>
                <span asp-validation-for="CellPhone.CaseType" class="text-danger"></span>
                <label asp-for="CellPhone.CaseType">Тип корпуса</label>
                <select id="" asp-for="CellPhone.CaseType" class="form-control" required>
                    <option value="0">Моноблок</option>
                    <option value="1">Раскладушка</option>
                </select>
            </div>
            <div>
                <span asp-validation-for="CellPhone.Capacity" class="text-danger"></span>
                <label asp-for="CellPhone.Capacity">Емкость аккумулятора мА*ч</label>
                <input type="text" id="" asp-for="CellPhone.Capacity" class="form-control" required />
            </div>
            <div>
                <span asp-validation-for="CellPhone.Camera" class="text-danger"></span>
                <label asp-for="CellPhone.Camera">Разрешение камеры Мп</label>
                <input type="text" id="" asp-for="CellPhone.Camera" class="form-control" required />
            </div>
            <div>
                <span asp-validation-for="CellPhone.Weigth" class="text-danger"></span>
                <label asp-for="CellPhone.Weigth">Вес г</label>
                <input type="text" id="" asp-for="CellPhone.Weigth" class="form-control" required />
            </div>
            <div>
                <span asp-validation-for="CellPhone.Height" class="text-danger"></span>
                <label asp-for="CellPhone.Height">Длина мм</label>
                <input type="text" id="" asp-for="CellPhone.Height" class="form-control" required />
            </div>
        </div>
        <div class="col">
            <div>
                <span asp-validation-for="CellPhone.Width" class="text-danger"></span>
                <label asp-for="CellPhone.Width">Ширина мм</label>
                <input type="text" id="" asp-for="CellPhone.Width" class="form-control" required />
            </div>
            <div>
                <span asp-validation-for="CellPhone.Thickness" class="text-danger"></span>
                <label asp-for="CellPhone.Thickness">Толщина мм</label>
                <input type="text" id="" asp-for="CellPhone.Thickness" class="form-control" required />
            </div>
            <div>
                <label>Изображение</label>
                <input type="file" id="" class="form-control" accept="image/*" name="file" />
            </div>
            <div>
                <span asp-validation-for="CellPhone.Description" class="text-danger"></span>
                <label asp-for="CellPhone.Description">Описание товара</label>
                <textarea rows="8" type="text" id="" asp-for="CellPhone.Description" class="form-control" required ></textarea>
            </div>
            <div>
                <span asp-validation-for="CellPhone.Price" class="text-danger"></span>
                <label asp-for="CellPhone.Price">Цена р</label>
                <input type="text" id="" asp-for="CellPhone.Price" class="form-control" required />
            </div>
            <div>
                <span asp-validation-for="CellPhone.Count" class="text-danger"></span>
                <label asp-for="CellPhone.Count">Количество</label>
                <input type="text" id="" asp-for="CellPhone.Count" class="form-control" required />
            </div>
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>
    </div>
    </form>